
*,
::after,
::before {
  box-sizing: border-box;
}

body {
  // font-family: 'Poppins', sans-serif;
  font-size: 0.875rem;
  opacity: 1;
  /* overflow-y: scroll; */
  margin: 0;
  /* position: relative; */


}

.wrapper{
  display: flex;
  width: 100%;
  align-items: stretch;

}

li {
  list-style: none;
}

#sidebar {
  max-width: 264px;
  min-width: 264px;
  background: #000000;
  transition: all 0.35s ease-in-out;

}


.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 0;
  overflow: hidden;
  transition: all 0.35s ease-in-out;
  width: 100%;
  background: #D4D3EB;
  /* color: #020035; */
}

.sidebar-logo {
  padding: 1.15rem;
}

.sidebar-logo a {
  color: #e9ecef;
  font-size: 1.15rem;
  font-weight: 600;
}

.sidebar-nav {
  flex-grow: 1;
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
  margin-left: 0;
}
a {
  cursor: pointer;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

a.sidebar-link {
  padding: .625rem 1.625rem;
  color: #fcfcfc;
  position: relative;
  display: block;
  font-size: 0.875rem;

}

.sidebar-link[data-bs-toggle="collapse"]::after {
  border: solid;
  border-width: 0 .075rem .075rem 0;
  content: "";
  display: inline-block;
  padding: 2px;
  position: absolute;
  right: 1.5rem;
  top: 1.4rem;
  transform: rotate(-135deg);
  transition: all .2s ease-out;

}

.sidebar-link[data-bs-toggle="collapse"].collapsed::after {
  transform: rotate(45deg);
  transition: all .2s ease-out;
}

#sidebar.collapsed {
  margin-left: -264px;
  overflow-y: hidden;
}

.navbar-expand .navbar-nav {
  margin-left: auto;
}

.content {
  flex: 1;
  max-width: 100vw;
  width: 100vw;
}

.content {
  flex: 1;
  max-width: 100vw;
  width: 100vw;
}

.scrollarea {
  overflow-y: auto;
  height: calc(100vh - 75px);
  /*scrollbar-width: thin;*/
}



/* Styling scrollbar for WebKit-based browsers (Chrome, Safari) */
.scrollarea::-webkit-scrollbar {
  width: 8px;
}

.scrollarea::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.scrollarea::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.scrollarea::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

@media (max-width:767.98px) {

  .js-sidebar {
    margin-left: -260px;
    overflow-y: hidden;
  }

  #sidebar.collapsed {
    margin-left: 0;
    overflow-y: hidden;
  }

  #sidebar {
    max-width: 264px;
    min-width: 200px;
    background: #010035;
    transition: all 0.35s ease-in-out;

  }

  .navbar {
    width: 100vw;
  }

  #datetime {
    margin-left: 40%;
    width: 100vh;
    transform: translateX(-50%);
  }
}
