<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#currform">
    Curriculam
</button>

<!-- Modal -->
<div class="modal fade " id="currform" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered ">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Curriculam</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    
                    <div class="mb-3">
                        <label for="exampleInputFull" class="form-label">Curriculam Name</label>
                        <input type="textbox" class="form-control" id="">
                    </div>

                    <div class="form-floating">
                        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
                            style="height: 100px"></textarea>
                        <label for="floatingTextarea2">Comments here</label>
                    </div>

    </form>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary">Save</button>
    </div>